.assigned-shifts-container {
    max-width: 100%;
    margin: 0 auto;
    padding: 20px;
  }
  
  @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
  
  .assigned-shifts-heading {
    font-size: 32px;
    margin-bottom: 20px;
    text-align: center;
    color: #333;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  }
  
  .assigned-shifts-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* Responsive grid */
    gap: 20px;
  }
  
  .assigned-shift-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    padding: 10px;
    background-color: #dce9dc;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .assigned-shift-item:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  }
  
  .assigned-shift-details {
    flex-grow: 1;
  }
  
  .assigned-shift-description {
    font-size: 18px;
    color: #333;
    margin-bottom: 10px;
  }
  
  .assigned-shift-time {
    font-size: 16px;
    color: #555;
  }
  
  /* Media queries for responsive layout */
  @media (max-width: 768px) {
    .assigned-shifts-list {
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }
  }
  
  @media (max-width: 576px) {
    .assigned-shifts-list {
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }
  }
  